.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 30px 30px;
  justify-content: center;
  border-top: solid var(--accent-border);
}

.search-area {
  margin: auto;
  padding: 50px 50px;
}
